* {
    all: unset;
    background-image: none;
    font-family: JetBrains Mono, Symbols Nerd Font;
    font-size: 24px;
    transition-property: background-color;
    transition-duration: 0.7s;
}

window {
    background: rgba(0, 0, 0, 0.5);
}

button {
    background-color: rgba(11, 11, 11, 0.4);
    /* border-width: 2px; */
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    margin: 15px;
}

button:focus,
button:active,
button:hover {
    background-color: rgba(51, 51, 51, 0.5);
}


#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

/* #lock { */
/*     background-image: url("../assets/wlogout/assets/lock.png"); */
/* } */
/**/
/* #lock:hover, */
/* #lock:focus { */
/*     background-image: image(url("../assets/wlogout/assets/lock-hover.png"), url("/usr/local/share/wlogout/icons/lock.png")); */
/* } */
/**/
/* #logout { */
/*     background-image: image(url("../assets/wlogout/assets/logout.png"), url("/usr/local/share/wlogout/icons/logout.png")); */
/* } */
/**/
/* #logout:hover, */
/* #logout:focus { */
/*     background-image: image(url("../assets/wlogout/assets/logout-hover.png"), url("/usr/local/share/wlogout/icons/logout.png")); */
/*     color: #11111b; */
/* } */
/**/
/* #suspend { */
/*     background-image: image(url("../assets/wlogout/assets/sleep.png"), url("/usr/local/share/wlogout/icons/suspend.png")); */
/* } */
/**/
/* #suspend:hover, */
/* #suspend:focus { */
/*     background-image: image(url("../assets/wlogout/assets/sleep-hover.png"), url("/usr/local/share/wlogout/icons/suspend.png")); */
/*     color: #11111b; */
/* } */
/**/
/* #shutdown { */
/*     background-image: image(url("../assets/wlogout/assets/power.png"), url("/usr/local/share/wlogout/icons/shutdown.png")); */
/* } */
/**/
/* #shutdown:hover, */
/* #shutdown:focus { */
/*     background-image: image(url("../assets/wlogout/assets/power-hover.png"), url("/usr/local/share/wlogout/icons/shutdown.png")); */
/*     color: #11111b; */
/* } */
/**/
/* #reboot { */
/*     background-image: image(url("../assets/wlogout/assets/restart.png"), url("/usr/local/share/wlogout/icons/reboot.png")); */
/* } */
/**/
/* #reboot:hover, */
/* #reboot:focus { */
/*     background-image: image(url("../assets/wlogout/assets/restart-hover.png"), url("/usr/local/share/wlogout/icons/reboot.png")); */
/*     color: #11111b; */
/* } */
/**/
/* #exit { */
/*     background-image: image(url("../assets/wlogout/assets/restart.png"), url("/usr/local/share/wlogout/icons/reboot.png")); */
/*     background-color: #11111b; */
/**/
/* } */
/**/
/* #exit:hover, */
/* #exit:focus { */
/*     background-image: image(url("../assets/wlogout/assets/restart-hover.png"), url("/usr/local/share/wlogout/icons/reboot.png")); */
/*     color: #11111b; */
/*     background-color: #cdd6f4; */
/* } */
